@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Home Page</h2>

<div>
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Go to Product</a>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Go to Category</a>
</div>
